node_modules
__pycache__/app.cpython-311.pyc
__pycache__/app.cpython-313.pyc
templates/__pycache__/helper.cpython-311.pyc
templates/.DS_Store
frontend/templates/__pycache__/helper.cpython-311.pyc
frontend/templates/.DS_Store
frontend/.DS_Store
backend/services/scripts/transfer/__pycache__/transfer.cpython-311.pyc
backend/services/scripts/.DS_Store
backend/services/scripts/ota/__pycache__/generate_content.cpython-311.pyc
backend/services/scripts/ota/__pycache__/ota_updates.cpython-311.pyc
backend/services/scripts/ota/__pycache__/zip_file_extract.cpython-311.pyc
backend/services/scripts/docker/__pycache__/docker_manager.cpython-311.pyc
backend/services/scripts/data_package_config/__pycache__/data_package.cpython-311.pyc
backend/services/scripts/data_package_config/.DS_Store
backend/services/scripts/takserver/__pycache__/certconfig.cpython-311.pyc
backend/services/scripts/takserver/__pycache__/takserver_installer.cpython-311.pyc
backend/services/scripts/system/__pycache__/system_monitor.cpython-311.pyc
backend/services/scripts/system/__pycache__/thread_manager.cpython-311.pyc
backend/services/scripts/__pycache__/certconfig.cpython-311.pyc
backend/services/scripts/__pycache__/docker_installer.cpython-311.pyc
backend/services/scripts/__pycache__/docker_manager.cpython-311.pyc
backend/services/scripts/__pycache__/get_ip.cpython-311.pyc
backend/services/scripts/__pycache__/os_detector.cpython-311.pyc
backend/services/scripts/__pycache__/ota_updates.cpython-311.pyc
backend/services/scripts/__pycache__/system_monitor.cpython-311.pyc
backend/services/scripts/__pycache__/takserver_installer.cpython-311.pyc
backend/services/scripts/__pycache__/test_docker_installer.cpython-311.pyc
backend/services/helpers/__pycache__/docker_installer.cpython-311.pyc
backend/services/helpers/__pycache__/get_ip.cpython-311.pyc
backend/services/helpers/__pycache__/os_detector.cpython-311.pyc
backend/services/helpers/__pycache__/run_command.cpython-311.pyc
backend/services/__pycache__/run_command_helper.cpython-311.pyc
backend/services/__pycache__/socketio_handler.cpython-311.pyc
backend/services/__pycache__/thread_manager.cpython-311.pyc
backend/routes/__pycache__/dashboard_routes.cpython-311.pyc
backend/routes/__pycache__/data_package_route.cpython-311.pyc
backend/routes/__pycache__/docker_manager_routes.cpython-311.pyc
backend/routes/__pycache__/installer_routes.cpython-311.pyc
backend/routes/__pycache__/socketio.cpython-311.pyc
backend/routes/__pycache__/transfer_route.cpython-311.pyc
backend/__pycache__/__init__.cpython-311.pyc
