    {% set popup_id = 'popup-configure-ota-updates' %}
    {% set title = 'Configure OTA Updates' %}
    {% set show_terminal = True %}
    {% set content_html = '''
    <!-- Step 1: OTA Updates Configuration -->
    <div id="ota-updates-step-1" class="ota-updates-step">
        <p class="mb-4">This will configure OTA plugins for your TAKServer, allowing you to get the latest plugins directly from your TAKServer instead of downloading and manually importing all plugins via flash drive.</p>
    </div>

    <!-- New Step 2: Upload OTA Zip File -->
    <div id="ota-updates-step-2" class="ota-updates-step hidden">
        <form id="ota-updates-form" class="mt-4">
            <div class="mb-4 text-left">
                <label for="ota-zip-file" class="block text-white text-base mb-1">Select OTA Zip File:</label>
                <p class="text-sm mb-2">Download ATAK from tak.gov with the plugins you wish to use. This will provide a zip file named ATAK-MIL-{version}_loadout.zip. Please upload this file here.</p>
                <input type="file" id="ota-zip-file" name="ota_zip_file" accept=".zip" required class="w-full bg-buttonColor text-sm border-1 hover:cursor-pointer border-buttonBorder p-2 rounded-lg">
            </div>
        </form>
    </div>

    <!-- Step 3: Terminal Output -->
    <div id="ota-updates-step-3" class="ota-updates-step hidden">
        <!-- Terminal output will be shown here -->
        <div id="popup-configure-ota-updates-terminal-output" class="terminal-output list-none space-y-2 overflow-y-auto text-textSecondary text-sm border border-accentBoarder h-64 p-2 rounded-lg mt-4">
            <!-- Terminal output will be appended here -->
        </div>
    </div>

    <!-- Step 4: OTA Updates Configuration Success -->
    <div id="ota-updates-step-4" class="ota-updates-step hidden">
        <p class="mb-2 text-sm text-center">OTA Updates configuration successful! Your settings have been saved. To use the OTA Updates feature, use the link https://your-ip-address:8443/plugins in update server url field in ATAK.</p>
    </div>
    ''' %}

    {% set buttons_html = '''
    <button id="popup-configure-ota-updates-back-btn" class="text-buttonTextColor rounded-lg p-2 text-sm border-1 border-buttonBorder bg-buttonColor hover:text-black hover:shadow-soft hover:border-black hover:shadow-black hover:bg-red-500">
        Back
    </button>
    <button id="popup-configure-ota-updates-next-btn" class="text-buttonTextColor rounded-lg p-2 text-sm border-1 border-buttonBorder bg-buttonColor hover:text-black hover:shadow-soft hover:border-black hover:shadow-black hover:bg-green-500">
        Next
    </button>
    <button id="popup-configure-ota-updates-stop-btn" class="text-buttonTextColor rounded-lg p-2 text-sm border-1 border-buttonBorder bg-buttonColor hover:text-black hover:shadow-soft hover:border-black hover:shadow-black hover:bg-red-500">
        Stop
    </button>
    <button id="popup-configure-ota-updates-close-btn" class="text-buttonTextColor rounded-lg p-2 text-sm border-1 border-buttonBorder bg-buttonColor hover:text-black hover:shadow-soft hover:border-black hover:shadow-black hover:bg-red-500">
        Close
    </button>
    <button id="popup-configure-ota-updates-start-install-btn" class="text-buttonTextColor rounded-lg p-2 text-sm border-1 border-buttonBorder bg-buttonColor hover:text-black hover:border-black hover:shadow-soft hover:shadow-black hover:bg-green-500">
        Begin
    </button>
    ''' %}

    {% include 'components/popup_base.html' %}