<!--frontend/templates/base.html-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}System Monitor{% endblock %}</title>
    <!-- Link to the generated Tailwind CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <!-- Chart.js for graphs -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body class="bg-primaryBg text-textPrimary">
    <div class="flex h-screen">
        <!-- Sidebar -->
        <nav class="w-64 bg-cardBg p-6 text-textPrimary border-r border-accentBoarder">
            <ul>
                <!-- Dashboard Tab -->
                <li class="mb-2">
                    <a href="{{ url_for('index') }}" 
                       class="flex items-center p-2 rounded-lg {% if request.endpoint == 'index' %}bg-selectedColor text-selectedTextColor{% else %}hover:text-white{% endif %} text-sm">
                        <svg class="w-5 h-5 mr-2 {% if request.endpoint == 'index' %}fill-current text-selectedTextColor{% else %}fill-current text-orange-500 {% endif %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M11.47 3.841a.75.75 0 0 1 1.06 0l8.69 8.69a.75.75 0 1 0 1.06-1.061l-8.689-8.69a2.25 2.25 0 0 0-3.182 0l-8.69 8.69a.75.75 0 1 0 1.061 1.06l8.69-8.689Z" />
                            <path d="m12 5.432 8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 0 1-.75-.75v-4.5a.75.75 0 0 0-.75-.75h-3a.75.75 0 0 0-.75.75V21a.75.75 0 0 1-.75.75H5.625a1.875 1.875 0 0 1-1.875-1.875v-6.198a2.29 2.29 0 0 0 .091-.086L12 5.432Z" />
                        </svg>
                        Dashboard
                    </a>
                </li>
        
                <!-- Services Tab -->
                <li class="mb-2">
                    <a href="{{ url_for('service.service_page') }}" 
                       class="flex items-center p-2 rounded-lg {% if request.endpoint == 'service.service_page' %}bg-selectedColor text-selectedTextColor{% else %}hover:text-white{% endif %} text-sm">
                        <svg class="w-5 h-5 mr-2 {% if request.endpoint == 'service.service_page' %}fill-current text-selectedTextColor{% else %}fill-current text-purple-500 {% endif %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path d="M18.75 12.75h1.5a.75.75 0 0 0 0-1.5h-1.5a.75.75 0 0 0 0 1.5ZM12 6a.75.75 0 0 1 .75-.75h7.5a.75.75 0 0 1 0 1.5h-7.5A.75.75 0 0 1 12 6ZM12 18a.75.75 0 0 1 .75-.75h7.5a.75.75 0 0 1 0 1.5h-7.5A.75.75 0 0 1 12 18ZM3.75 6.75h1.5a.75.75 0 1 0 0-1.5h-1.5a.75.75 0 0 0 0 1.5ZM5.25 18.75h-1.5a.75.75 0 0 1 0-1.5h1.5a.75.75 0 0 1 0 1.5ZM3 12a.75.75 0 0 1 .75-.75h7.5a.75.75 0 0 1 0 1.5h-7.5A.75.75 0 0 1 3 12ZM9 3.75a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5ZM12.75 12a2.25 2.25 0 1 1 4.5 0 2.25 2.25 0 0 1-4.5 0ZM9 15.75a2.25 2.25 0 1 0 0 4.5 2.25 2.25 0 0 0 0-4.5Z" />
                        </svg>
                        Services
                    </a>
                </li>
        
                <!-- QTM Tab -->
                <li class="mb-2">
                    <a href="#" 
                       class="flex items-center p-2 rounded-lg {% if request.endpoint == 'qtm_page' %}bg-selectedColor text-selectedTextColor{% else %}hover:text-white{% endif %} text-sm">
                        <svg class="w-5 h-5 mr-2 {% if request.endpoint == 'qtm_page' %}fill-current text-selectedTextColor{% else %}fill-current text-blue-500 {% endif %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path fill-rule="evenodd" d="m11.54 22.351.07.04.028.016a.76.76 0 0 0 .723 0l.028-.015.071-.041a16.975 16.975 0 0 0 1.144-.742 19.58 19.58 0 0 0 2.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 0 0-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 0 0 2.682 2.282 16.975 16.975 0 0 0 1.145.742ZM12 13.5a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" clip-rule="evenodd" />
                        </svg>
                        QTM
                    </a>
                </li>
        
                <!-- Installers/Setup Tab -->
                <li class="mb-2">
                    <a href="{{ url_for('docker.installers_page') }}" 
                       class="flex items-center p-2 rounded-lg {% if request.endpoint == 'docker.installers_page' %}bg-selectedColor text-selectedTextColor{% else %}hover:text-white{% endif %} text-sm">
                        <svg class="w-5 h-5 mr-2 {% if request.endpoint == 'docker.installers_page' %}fill-current text-selectedTextColor{% else %}fill-current text-green-500 {% endif %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
                            <path fill-rule="evenodd" d="M12 6.75a5.25 5.25 0 0 1 6.775-5.025.75.75 0 0 1 .313 1.248l-3.32 3.319c.063.475.276.934.641 1.299.365.365.824.578 1.3.64l3.318-3.319a.75.75 0 0 1 1.248.313 5.25 5.25 0 0 1-5.472 6.756c-1.018-.086-1.87.1-2.309.634L7.344 21.3A3.298 3.298 0 1 1 2.7 16.657l8.684-7.151c.533-.44.72-1.291.634-2.309A5.342 5.342 0 0 1 12 6.75ZM4.117 19.125a.75.75 0 0 1 .75-.75h.008a.75.75 0 0 1 .75.75v.008a.75.75 0 0 1-.75.75h-.008a.75.75 0 0 1-.75-.75v-.008Z" clip-rule="evenodd" />
                            <path d="m10.076 8.64-2.201-2.2V4.874a.75.75 0 0 0-.364-.643l-3.75-2.25a.75.75 0 0 0-.916.113l-.75.75a.75.75 0 0 0-.113.916l2.25 3.75a.75.75 0 0 0 .643.364h1.564l2.062 2.062 1.575-1.297Z" />
                            <path fill-rule="evenodd" d="m12.556 17.329 4.183 4.182a3.375 3.375 0 0 0 4.773-4.773l-3.306-3.305a6.803 6.803 0 0 1-1.53.043c-.394-.034-.682-.006-.867.042a.589.589 0 0 0-.167.063l-3.086 3.748Zm3.414-1.36a.75.75 0 0 1 1.06 0l1.875 1.876a.75.75 0 1 1-1.06 1.06L15.97 17.03a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>
                        Installers/Setup
                    </a>
                </li>
                <li class="mb-2">
                    <a href="{{ url_for('data_package.data_package_page') }}" 
                       class="flex items-center p-2 rounded-lg {% if request.endpoint == 'data_package.data_package_page' %}bg-selectedColor text-selectedTextColor{% else %}hover:text-white{% endif %} text-sm">
                        <svg class="w-5 h-5 mr-2 {% if request.endpoint == 'data_package.data_package_page' %}fill-current text-selectedTextColor{% else %}fill-current text-pink-500 {% endif %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                            <path d="M448 80l0 48c0 44.2-100.3 80-224 80S0 172.2 0 128L0 80C0 35.8 100.3 0 224 0S448 35.8 448 80zM393.2 214.7c20.8-7.4 39.9-16.9 54.8-28.6L448 288c0 44.2-100.3 80-224 80S0 332.2 0 288L0 186.1c14.9 11.8 34 21.2 54.8 28.6C99.7 230.7 159.5 240 224 240s124.3-9.3 169.2-25.3zM0 346.1c14.9 11.8 34 21.2 54.8 28.6C99.7 390.7 159.5 400 224 400s124.3-9.3 169.2-25.3c20.8-7.4 39.9-16.9 54.8-28.6l0 85.9c0 44.2-100.3 80-224 80S0 476.2 0 432l0-85.9z"/>
                        </svg>
                        Data Package Configuration
                    </a>
                </li>
                <li class="mb-2">
                    <a href="{{ url_for('transfer.transfer_page') }}" 
                       class="flex items-center p-2 rounded-lg {% if request.endpoint == 'transfer.transfer_page' %}bg-selectedColor text-selectedTextColor{% else %}hover:text-white{% endif %} text-sm">
                        <svg class="w-5 h-5 mr-2 {% if request.endpoint == 'transfer.transfer_page' %}fill-current text-selectedTextColor{% else %}fill-current text-yellow-500 {% endif %}" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                            <path d="M32 96l320 0 0-64c0-12.9 7.8-24.6 19.8-29.6s25.7-2.2 34.9 6.9l96 96c6 6 9.4 14.1 9.4 22.6s-3.4 16.6-9.4 22.6l-96 96c-9.2 9.2-22.9 11.9-34.9 6.9s-19.8-16.6-19.8-29.6l0-64L32 160c-17.7 0-32-14.3-32-32s14.3-32 32-32zM480 352c17.7 0 32 14.3 32 32s-14.3 32-32 32l-320 0 0 64c0 12.9-7.8 24.6-19.8 29.6s-25.7 2.2-34.9-6.9l-96-96c-6-6-9.4-14.1-9.4-22.6s3.4-16.6 9.4-22.6l96-96c9.2-9.2 22.9-11.9 34.9-6.9s19.8 16.6 19.8 29.6l0 64 320 0z"/>
                        </svg>
                        Rapid Transfer
                    </a>
                </li>
            </ul>
        </nav>

        <!-- Main content area -->
        <div class="flex-1 p-10 bg-primaryBg overflow-auto text-lg">
            {% block content %}
            {% endblock %}
        </div>
    </div>

    <!-- JavaScript specific to each page -->
    {% block scripts %}
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    {% endblock %}
</body>
</html>
