<div>
    {% set name = "Number of CoT (Cursor on Target) streams configured" %}
    {% set label = "count" %}
    {% set input_type = "text" %}
    {% set value = "1" %}
    {% include "data_package/preference_item.html" %}
</div>

<div>
    {% set name = "Description of the first CoT stream" %}
    {% set label = "description0" %}
    {% set input_type = "text" %}
    {% set value = "Your-Server-Name" %}
    {% include "data_package/preference_item.html" %}
</div>

<div>
    {% set name = "Whether the first CoT stream is enabled" %}
    {% set label = "enabled0" %}
    {% set input_type = "checkbox" %}
    {% set checked = true %}
    {% include "data_package/preference_item.html" %}
</div>

<div>
    {% set name = "Connection string for the first CoT stream (IP:Port:Protocol)" %}
    {% set label = "connectString0" %}
    {% set input_type = "text" %}
    {% set value = "192.168.1.20:8089:ssl" %}
    {% include "data_package/preference_item.html" %}
</div>

<div>
    {% set name = "Path to the CA certificate for the first CoT stream" %}
    {% set label = "caLocation0" %}
    {% set input_type = "select" %}
    {% set data_input_id = "caLocation0" %}
    {% set hidden_input_id = "caLocation0" %}
    {% set hidden_value = "cert/truststore-intermediate.p12" %}
    {% set is_certificate_dropdown = true %}
    {% include "data_package/preference_item.html" %}
</div>

<div>
    {% set name = "Path to the client certificate for the first CoT stream" %}
    {% set label = "certificateLocation0" %}
    {% set input_type = "select" %}
    {% set data_input_id = "certificateLocation0" %}
    {% set hidden_input_id = "certificateLocation0" %}
    {% set hidden_value = "cert/client.p12" %}
    {% set is_certificate_dropdown = true %}
    {% include "data_package/preference_item.html" %}
</div>

<div>
    {% set name = "Password for the client certificate for the first CoT stream" %}
    {% set label = "clientPassword0" %}
    {% set input_type = "text" %}
    {% set value = "atakatak" %}
    {% set type = "password" %}
    {% include "data_package/preference_item.html" %}
</div>

<div>
    {% set name = "Password for the CA certificate for the first CoT stream" %}
    {% set label = "caPassword0" %}
    {% set input_type = "text" %}
    {% set value = "atakatak" %}
    {% set type = "password" %}
    {% include "data_package/preference_item.html" %}
</div>