<!--frontend/templates/index.html-->

{% extends "components/base.html" %}

{% block title %}System Monitor{% endblock %}

{% block content %}
    {% set title = 'Dashboard' %}
    {% include 'components/title_bar.html' %}
    
    <!-- Flex layout for sections -->
    <div class="flex flex-wrap gap-8 pt-14">
        <!-- CPU Usage Section -->
        <div class="flex-1 bg-cardBg p-6 rounded-lg shadow-lg text-white max-w-lg border-1 border-accentBoarder">
            <h2 class="text-base mb-4">CPU Usage</h2>
            <p id="cpu" class="mt-2 text-cpuChartColor text-center">Loading...</p>
            <canvas id="cpu-graph" class="mt-4 text-textSecondary"></canvas>
        </div>

        <!-- RAM Usage Section -->
        <div class="flex-1 bg-cardBg p-6 rounded-lg shadow-lg text-white max-w-lg border-1 border-accentBoarder">
            <h2 class="text-base mb-4">RAM Usage</h2>
            <p id="ram" class="mt-2 text-ramChartColor text-center">Loading...</p>
            <canvas id="ram-graph" class="mt-4"></canvas>
        </div>

        <!-- Running Services Section -->
        <div class="flex-none bg-cardBg p-6 rounded-lg shadow-lg text-white w-96 overflow-y-auto border-1 border-accentBoarder">
            <h2 class="text-base mb-4">Running Services</h2>
            <div class="h-64 overflow-y-auto  p-2 rounded-lg border-1 border-accentBoarder text-sm">
                <ul id="services" class="list-none space-y-2 overflow-auto text-textSecondary">
                    <li class="p-4 rounded whitespace-nowrap">Loading...</li>
                </ul>
            </div>
        </div>

        <!-- IP Address Section -->
        <div class="flex-1 bg-cardBg p-6 rounded-lg shadow-lg text-white max-w-lg border-1 border-accentBoarder">
            <h2 class="text-base mb-4">IP Address</h2>
            <p id="ip-address" class="mt-2 text-center">Loading...</p>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns@3.0.0"></script>
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock %}


